/* ล้าง margin */
body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* ---------------------------- */
/*    BACKGROUND IMAGE SETUP    */
/* ---------------------------- */

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* ป้องกันภาพเพี้ยน */
    z-index: -1; /* ส่งไปหลังสุด */
}

/* เปลี่ยนภาพตามอุปกรณ์ */
@media (max-width: 1024px) {
    .bg-image {
        content: url("bg-tablet.jpg");
    }
}

@media (max-width: 600px) {
    .bg-image {
        content: url("bg-mobile.jpg");
    }
}

/* ---------------------------- */
/*         CENTER CONTENT        */
/* ---------------------------- */

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10; /* อยู่บนพื้นหลัง */
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* รูป title */
.title-img {
    width: 60%;
    max-width: 800px;
    margin-bottom: 30px;
}

/* ปุ่ม */
#startBtn {
    padding: 15px 40px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    transition: 0.25s;
}

.space1 {
    margin-top: 400px;
}

.space {
    margin-top: 70px;
}

#startBtn:hover {
    background-color: white;
}
