.story-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.story-img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
}

.story-container {
    width: 80%;
    max-width: 600px;
    margin: 130px auto 0;
    text-align: center;
    color: white;
}

body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.story-container p {
    font-size: 35px;
    margin-bottom: 40px;
}

.story-btn {
    padding: 15px 30px;
    font-size: 25px;
    background: #ffffffaa;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.space {
    margin-top: 40px;
}

.space1 {
    margin-top: 70px;
}

.story-btn:hover {
    background: #ffffffdd;
}
