body {
  font-family: "Itim", cursive;
  background: #f0f0f0;
  padding: 30px;
}

h1{
  font-family: "Itim", cursive;
  color: #ffe8ff;
}

h2 {
  font-family: "Itim", cursive;
  font-size: 26px;
  color: #ffe8ff;
  font-weight: 600;
}

/* BG ไม่แตะ */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* ลบกรอบ container */
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;

  background: transparent; /* ลบพื้นหลัง */
  box-shadow: none;       /* ลบเงา */
  border-radius: 0;       /* ลบความโค้ง */
  text-align: center;     /* ให้อยู่ตรงกลาง */
}

/* รูปก่อนคำถาม */
.question-img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

/* ตัวเลือก */
.choice {
  font-size: 18px;
  background: rgba(255,255,255,0.8);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
  color: #272738;
}
.choice:hover {
  background: rgba(255,255,255,1);
}
